body, html { 
    margin:0; 
    padding: 0; 
    overflow:hidden; 
    font-family:Arial; 
    font-size:14px; 
    background-color: #0000c0; 
    color: black}

#cr-stage { 
    border:2px solid black; margin: 6px auto; color: white; background: black;
    width: 1000px;
    height: 520px;
    position: relative;
}

#frame {
            width: 654px;
            height: 469px;
            padding: 0;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: 5px;
            border: none;
        }

#instructions {
    width: 335px;
    position: absolute;
    padding: 2px;
    right: 0;
}

#hud {
    position: absolute;
    left: 11px;
    width: 654px;
    height: 51px;
    bottom: 0;
}

.bigtext { 
    position: absolute;
    left: 11px;
    width: 654px;
    top: 0;
     /* height: 469px; */
}

.bigtext p {
    text-align: center;
    font-weight: bold;
    margin: 210px 0; /* (520 - 51 - 40) / 2 */
    font-size: 32px; 
}

.box {
    background: url(../ecrans/border.png) no-repeat top left;
    width: 340px;
    height: 194px;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 150px;
    top: 100px;
}

.box p {
    margin: 50px;
    padding: 0;
    font-weight: bold;
    font-size:24px;
    text-align: center;
}

h1 {
    color: #c00000;
}

h2 {color: #c000c0}

.presskey {margin-top: 20px; color: #731745}
.score { font-family: 'Titan One', cursive; font-size: 14px; float: left; margin: 0}
#lives {
    display: block;
    width: 47px;
    height: 11px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: absolute;
    float: right;
    right: 30px;
    top: 0;
    background-image: url(../media/lives.png);
}


/* In-Game Texts */
#game-over { 
    display: none; 
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;  
}


.box { display: none; }

/* Palete */
.black { color: #000000; }
.blue { color: #0000c0; }
.blue.bright { color: #0000ff; }
.red { color: #c00000; }
.red.bright { color: #ff0000; }
.magenta { color: #c000c0; }
.magenta.bright { color: #ff00ff; }
.green { color: #00c000; }
.green.bright { color: #00ff00; }
.cyan { color: #00c0c0; }
.cyan.bright { color: #00ffff; }
.yellow { color: #c0c000; }
.yellow.bright { color: #ffff00; }
.white { color: #c0c0c0; }
.white.bright { color: #000000; }