body, html { margin:0; padding: 0; overflow:hidden; font-family:Arial; font-size:14px; background-color: #ccc; color: black}

#cr-stage { border:2px solid black; margin:5px auto; color: black; background: white}
#parameters, .instructionsWrap, #mouse-controls, #nocanvas { display: none }
.ld26 { font-style: italic }
.ld26 a { font-weight: bold; color: inherit; text-decoration: none }

#parameters {
    position: absolute;
    top: 20px;
    right: 20px;
}

.header { margin: 40px }

.instructions {text-align: center; color: green; margin: 150px 200px 0; font-weight: bold; background-color: #ddd; padding: 15px; width: 400px}