body, html { margin:0; padding: 0; overflow:hidden; font-family:Arial; font-size:14px; background-color: #ccc; color: black}

#cr-stage { border:2px solid black; margin: 5px 0 0 200px ; color: black; background: white}
#nocanvas, .instructionsWrap { display: none }
.ld48 { font-style: italic }
.ld48 a { font-weight: bold; color: inherit; text-decoration: none }

.header { margin: 20px; position: absolute; float: left; width: 200px; }
#togMus { }

.instructions {text-align: left; color: #261745; margin: 150px 200px 0; font-weight: bold; background-color: #ddd; padding: 15px; width: 400px}
.instructions h2 {color: #084715}
.presskey {margin-top: 20px; color: #731745}